src/**
**/*.ts
**/*.map
**/*.svg
node_modules/**
.vscode-test/**
test-workspace/**
FEATURES.md
.gitignore
.vscode/**
tsconfig.json
out/test/**
**/*.test.js
**/*.test.d.ts
code-shelf-*.vsix
*.vsix
docs/pr-assets/**
